
body {
    font-family: 'Open Sans', sans-serif !important;
}

/* section.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../adult-american-business-1059122.jpg");
    background-size: cover;
    background-position: center;
} */

.jumbotron {
    height: 80vh !important;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../apple-business-click-392018.jpg");
    background-size: cover;
    background-position: center;
}
